.notfound {
    text-align: center;
    padding: 50px;

    &__title {
        font-size: 10rem;
        color: #FF6060;
        margin-bottom: 139px;
    }

    &__message {
        color: #FF6060;
        font-size: 1.5rem;
        margin: 20px 0;
        margin-bottom: 139px;
    }

    &__link {
        font-size: 1.2rem;
        text-decoration: none;
        margin-bottom: 139px;
        

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .notfound__title {
      font-size: 5rem;
    }
  
    .notfound__message {
      font-size: 0.75rem; 
    }
  
    .notfound__link {
      font-size: 0.6rem; 
    }
  }